<div class="site-container"><div class="wrapper">

<div class="post-ribbon"></div>

<div class="container post-container">
  <div class="post-page card-panel z-depth-2">
  <div class="tab-section">

    <div class="post-header">
      <h1 class="post-title">欢迎访问我的个人网站！<br>(您可能在加载其他页面)</h1>
    </div>

    <article class="post-content">
      <p>这里我将指引您更舒畅地浏览我的个人网站。</p>

      <h3>博客阅读</h3>
      <p>在进入网站时，您一般会直接跳转到被设置为默认主页地博客浏览页面。那里您可以看到各条实时更新的博文的标题。然后您通过点击“点击查看”按钮，可进入贴文进行阅读。</p>

      <p>如果您想指定阅读的类别，可点击导航栏中的“归档”，即可跳转至分类查找页面。</p>

      <h3>关于我的个人资料</h3>
      <p>如果您想了解我的个人资料，可在导航栏中点击“关于”进入我的个人资料说明。</p>
    </article>

  </div>
  </div>
</div>

</div>
</div>

